/* SS07_BT04_Nguyễn Bình Lam Nghi */

* {
  margin-bottom: 10px;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(119, 192, 255);
  color: white;
  height: fit-content;
  padding: 10px;
}

.body {
  display: flex;
  justify-content:flex-start ;
  height: 500px;
  padding: 10px;
}

.sidebar {
  background-color: rgb(0, 255, 153);
  color: white;
  width: 30%;
}

.content {
  background-color: rgb(232, 58, 9);
  color: white;
  margin-left: 10px;
  width: 70%;
}

.footer {
  background-color: rgb(122, 62, 121);
  color: white;
  height: fit-content;
  padding: 10px;
}



